# DISCARD COLUMNS WITH ONE VALUE ONLY
cols_one_value_only = {{ cols_one_value_only }}
{% if training %}
__train_dataset = __train_dataset.drop(cols_one_value_only, axis=1, errors="ignore")
{% endif %}
{% if test %}
__test_dataset = __test_dataset.drop(cols_one_value_only, axis=1, errors="ignore")
{% endif %}