import numpy as np
cols_has_none = {{ cols_has_none}}
for col in cols_has_none:
{% if training %}
    train_dataset[col] = train_dataset[col].replace([None], np.nan)
{% endif %}
{% if test %}
    test_dataset[col] = test_dataset[col].replace([None], np.nan)
{% endif %}